<p>New transaction of <%= @transaction.pretty_value %> to <% @transaction.merchant.name %> has been added to your transaction history.</p>

<a href="/users/<%= @transaction.user_id %>">Back to profile</a>
