<header>
  <h1>Success!</h1>
</header>
<div class="confirmation-card flex-center-center flex-column shadow">
<p>Transaction of <%= @transaction.pretty_value %> to <%= @transaction.merchant.name %>, on <%=transaction.pretty_date%> had been deleted.</p>
<br>
<a href="/users/<%= @transaction.user_id %>">Return to profile</a>
</div>
