<header>
  <h1>Success!</h1>
</header>
<div class="confirmation-card flex-center-center flex-column shadow">
  <p>Transaction updated!</p>
  <br>
  <a href="/users/<%=@updated_transaction.user_id%>">Back to profile</a>
</div>
