<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/structure.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/buttons.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <title>Spending Tracker</title>
</head>
<body>
  <%= yield %>
</body>
</html>
