<header>
  <h1>Success!</h1>
</header>
<div class="confirmation-card flex-center-center flex-column shadow">
<p>New merchant <%= @merchant.name.capitalize %> has been created.</p>
<br>
<a href="/users/<%= @user.id %>">Back to profile</a>
</div>
