<header>
  <h1>Success!</h1>
</header>
<div class="confirmation-card flex-center-center flex-column shadow">
<p>Merchant updated!</p>
<br>
<a href="/users/<%= @user.id %>">
  <div class="confirmation-button">
    <i class="fas fa-user-circle">&nbsp;</i>Back to profile</a>
</div>
