.budget-00 {
  background-color: white;
}

.budget-10 {
  background: linear-gradient(to right, #05ba62 10%, #ffffff 90%);
}

.budget-20 {
  background: linear-gradient(to right, #05ba62 20%, #ffffff 80%);
}

.budget-30 {
  background: linear-gradient(to right, #05ba62 30%, #ffffff 70%);
}

.budget-40 {
  background: linear-gradient(to right, #05ba62 40%, #ffffff 60%);
}

.budget-50 {
  background: linear-gradient(to right, #05ba62 50%, #ffffff 50%);
}

.budget-60 {
  background: linear-gradient(to right, #05ba62 60%, #ffffff 40%);
}

.budget-70 {
  background: linear-gradient(to right, #05ba62 70%, #ffffff 30%);
}

.budget-80 {
  background: linear-gradient(to right, #05ba62 80%, #ffffff 20%);
}

.budget-90 {
  background: linear-gradient(to right, #05ba62 90%, #ffffff 10%);
}

.budget-100 {
  background: linear-gradient(to right, #05ba62 100%, #ffffff 00%);
}
