.budget-00 {
  width: 0%;
}

.budget-10 {
  background-color: #BF0900;
  width: 10%;
}

.budget-20 {
  background-color: #BE4500;
  width: 20%;
}

.budget-30 {
  background-color: #BD7F01;
  width: 30%;
}

.budget-40 {
  background-color: #BDB802;
  width: 40%;
}

.budget-50 {
  background-color: #87BC03;
  width: 50%;
}

.budget-60 {
  background-color: #4EBB03;
  width: 60%;
}

.budget-70 {
  background-color: #4EBB03;
  width: 70%;
}

.budget-80 {
  background-color: #16BB04;
  width: 80%;
}

.budget-90 {
  background-color: #05BA2B;
  width: 90%;
}

.budget-100 {
  background-color: #06BA63;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}
