.login-button {
  margin: 2vw;
  width: 20vw;
  padding: 2vw;
  font-size: 2rem;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: block;
  text-align: center;
}

.login-button a {
  color: white;
  text-decoration: none;
}

.small-edit-button {
  background-color: #06BA63;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0.3vw;
  padding: 0.3vw 0;
  border-radius: 5px;
  width: 7vw;
}
