.login-button {
  margin: 2vw;
  width: 20vw;
  padding: 2vw;
  font-size: 2rem;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: block;
  text-align: center;
}

.login-button a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.small-button {
  background-color: #06BA63;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0.3vw;
  padding: 0.3vw 0;
  border-radius: 5px;
  width: 7vw;
}

.transaction-header a {
  text-decoration: none;
  width: 20vw;
  align-self: center;
}

.transaction-button {
  background-color: #06BA63;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 0.3vw 1vw;
  border-radius: 5px;
  margin: 0 1vw;
}

.transaction-button .category {
  margin: 1vw 1vw;
}

.delete {
  background-color: red;
  margin-right: 1vw;
}

.button-tag {
  font-size: 0.8rem;
}

.category-header-button {
  margin-left: 2vw;
}
