.transaction-form {
  background-color: white;
  margin: 1vw;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: repeat(4, 4vh) 8vh 15vh;
  grid-row-gap: 1vw;
  grid-column-gap: 2vw;
  padding: 2vw 6vw;
  grid-template-areas:
    "date date"
    "amount amount"
    "merchant merchant"
    "category category"
    "description description"
    "buttons buttons"
}

.transaction-form label {
  text-align: right;
  font-size: 1.2rem;
}

.transaction-form>* {
  font-size: 1rem;
}

.transaction-form input[type="date"] {
  width: 50%;
}

.transaction-form input[type="number"] {
  font-size: 1rem;
}

.price {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.price .pounds {
  width: 70%;
  text-align: right;
}

.price .pence {
  width: 20%;
}

option {
  font-size: 1rem;
}

.transaction-submit {
  grid-area: buttons;
}

.transaction-from-submit {
  background-color: #06BA63;
  padding: 2vw 5vw;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.new-card {
  background: white;
  margin: 1vw;
  padding: 5vw;
}

.new-form {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 4vh 8vh 8vh;
  grid-column-gap: 1vw;
  padding: 2vw 6vw;
  grid-template-areas:
    "merchant merchant"
    ". ."
    "buttons buttons"
}

.new-form label {
  text-align: right;
  font-size: 1.2rem;
}

.new-form input[type="text"] {
  text-align: left;
  font-size: 1.2rem;
}

.new-cat-merc {
  grid-area: buttons;
}

.new-cat-merc-submit {
  background-color: #06BA63;
  padding: 2vw 5vw;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 20vw;
}

.budget-form {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 4vh 4vh 8vh 6vh 6vh;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  padding: 2vw 6vw;
  grid-template-areas:
    "budget budget"
    "reset reset"
    "goal goal"
    ". ."
    "buttons buttons";
  text-align: right;
}

.budget-form, .budget-form input {
  font-size: 1.2rem;
}

.budget {
  text-align: left;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.goal-form {
  color: black;
  font-size: 1.2rem;
}
