* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 20vw auto;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

nav {
  background-color: #06BA63;

  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items:   center;
}

.flex {
  display: flex;
}

nav h1 {
  padding: 3vw;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  text-align: center;
}

nav ul {
  width: 100%;
  list-style: none;
  min-height: 60vh;
  justify-content: space-between;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.fas {
  color: white;
  font-size: 1.5rem;
}


#main-page {
  background-color: lightgrey;
}

header {
  padding-left: 2vw;
  display: flex;
  align-items: center;
  height: 10vh;
  font-size: 1.5rem;
}

.main-container {
  background-color: lightgrey;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container a {
  text-decoration: none;
  color: black;
}

.flex-container a:hover {
  text-decoration: none;
  color: black;
}

.index-box {
  background-color: white;
  min-width: 20vw;
  height: 10vw;
  margin: 2vw;
  font-size: 2rem;
  padding: 1vw;
  text-align: center;
}

.index-box:hover {
  background-color: #06BA63;
}

.landing {
  background-image: url("/images/landing_hero.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
}

.landing-header {
  font-size: 3rem;
  padding-left: 0;
  margin-bottom: 5vh;
  text-shadow: 4px 4px 4px black;
  color: white;
  font-family: 'Lobster', cursive;
}

.confirmation-card {
  background: white;
  margin: 1vw;
  padding: 5vw;
  text-align: center;
}

.confirmation-card p {
    font-size: 1.3rem;
}

.show-card {
  background-color: white;
  margin: 1vw;
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 1vw;
}

.insight-box {
  margin: 1vw;
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.insight-box>* {
  padding: 1vw;
}

.insight-box ul {
  list-style: none;
}

.insight-box li {
  line-height: 2;
}

.show-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transaction-card {
  background-color: white;
  margin: 1vw;
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 1vw;
}

.transaction-header {
  flex-direction: column;
  display: flex;
  margin: 1vw;
}

/* .transaction-header h1 {
  text-align: left;
  width: 100%;
} */

.transaction-details {
  margin: 1vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto repeat(4, 8vh);
  grid-template-areas:
    "amount amount"
    "date date"
    "description description"
    "buttons buttons";
  grid-column-gap: 1vw;
}

.transaction-details h2 {
  text-align: right;
}

.transaction-details h2,
.transaction-details p {
  font-size: 1.5rem;
}

.logo-placeholder {
  max-width: 20vw;
  max-height: 15vw;
  align-self: center;
  margin: 1vw 0;
}

.transaction-show-buttons {
  grid-area: buttons;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.header-tag {
  color: #036837;
  font-size: 2.5rem;
}

.insight {
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  background-color: #06BA63;
  padding: 0 0.7vw;
}

.show-container {
  justify-content: space-between;
}

.saving-success {
  background-color: lightgreen;
  width: 100%;
  padding: 3vw;
  margin-top: 2vw;
}
