<header>
  <h1>Edit Profile</h1>
</header>

<div class="new-card shadow">
  <form action="/users/<%= @user.id %>" method="post">
    <div class="budget-form">

      <label for="budget">Budget: </label>
      <div class="budget">
        <input type="number" name="budget_pounds" min="0" value="<%= @user.budget_pounds %>" class="pounds" required>
        <input type="number" name="budget_pence" min="00" max= "99" value="<%= @user.budget_pence %>" class="pence" required>
      </div>

      <label for="budget-reset">Reset Budget? </label>
      <input type="checkbox" name="reset">

      <label for="goal">My goal: </label>
      <textarea rows="4" cols="40" name="goal" class="goal-form"><%= @user.goal %>
      </textarea>
      <div class="new-cat-merc flex-center-center">
        <input type="submit" value="Edit Profile" class="new-cat-merc-submit">
      </div>
    </div>
  </form>
</div>
