<header>
  <h1>Hello <%= @user.first_name %>!</h1>
</header>
<div class="main-container" class="flex">
  <div class="card flex">
    <a href="./<%=@user.id%>/transactions/new">New transaction</a>

  </div>
</div>
